@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,300;1,400;1,700&display=swap');

body {

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background: #111;
    
    * {
        color: white;
        font-family: 'Nunito', sans-serif;
    }

}

form {
    
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 4vmin;
}

input[type="url"] {

    font-size: 3vmin;
    background: none;

    border: none;
    outline: none;

    border-bottom: solid 1px #ff006a;

    transition: color 0.25s, border-color 0.25s;
    &:hover, &:active {
        border-color: white;
        color: whote;
    }

}

input[type="submit"] {

    font-size: 3vmin;
    background: none;

    outline: none;
    border: solid 1px #ff006a;

    cursor: pointer;

    padding: 0.75% 1.25%;
    margin-top: 2.5%;

    transition: color 0.25s, border-color 0.25s;
    &:hover, &:active {
        border-color: white;
        color: whote;
    }
}

sub {

    color: #ff006a;
    font-size: 2vmin;

    &.error { color: #ff3333; }

}